body {
  background-color:white;
}

h1{
  text-align: center;
  color:Black;
  margin-top: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.borders {
  margin-left: 250px;
  width: 420px;
  height: 420px;
  border-radius: 20px;
  border: solid black;
}

.box {
  width: 220px;
  height: 300px;
  margin-left: 120px;
  font-family: Arial, Helvetica, sans-serif;
  background: yellow;
  text-align: center;
}

.button {
  background-color: #6A92FF;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 10px 10px;
  transition-duration: 0.8s;
  cursor: pointer;
  margin-left: 0%;
  font-weight: bold;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}


.basic {float:left; width:180px; height:15px; cursor:pointer; margin-left:20px; }

.basic2 {float:left; width:180px; height:25px; cursor:pointer; margin-left:20px; }
